{% extends "SrsCommentBundle::layout.html.twig" %}

{% block title %}
	Suppression d'un Commentaire - {{ parent() }}
{% endblock %}

{% block srscomment_body %}

	<h2>Suppression d'un commentaire</h2>

	<p>
		Etes-vous sûr de vouloir supprimer votre commentaire ?
	</p>

	<form method="post">
		<input type="submit" value="Oui" class="btn-danger" />
	</form>

	<p>
		<a href="{{ path('srs_news_index') }}" class="btn">
			<i class="icon-chevron-left"></i>
			Retour
		</a>
	</p>

{% endblock %}